backend/src/serverless.yml
org: brunogarcial
service: pardos-orders

provider:
  name: aws
  runtime: python3.11
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::647796053987:role/LabRole   # mismo estilo que tu ejemplo
  environment:
    TENANTS_TABLE: ${sls:stage}-Tenants
    MENU_TABLE: ${sls:stage}-MenuItems
    ORDERS_TABLE: ${sls:stage}-Orders
    ORDER_EVENTS_TABLE: ${sls:stage}-OrderEvents
    EVENTS_BUS_NAME: ${sls:stage}-pardos-orders-bus
    REPORTS_BUCKET: ${sls:stage}-pardos-orders-reports
    SENDGRID_API_KEY: ${env:SENDGRID_API_KEY, ''}
  httpApi:
    cors: true

functions:
  # -------- MS TENANTS & MENU --------
  getTenants:
    handler: ms_tenants_menu/get_tenants.handler
    events:
      - httpApi:
          path: /tenants
          method: get

  getMenu:
    handler: ms_tenants_menu/get_menu.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/menu
          method: get

  putMenuItem:
    handler: ms_tenants_menu/put_menu_item.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/menu
          method: post

  # -------- MS ORDERS (CLIENTE) --------
  createOrder:
    handler: ms_orders/create_order.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders
          method: post

  getOrder:
    handler: ms_orders/get_order.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders/{orderId}
          method: get

  listOrders:
    handler: ms_orders/list_orders.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders
          method: get

  getOrderMetrics:
    handler: ms_orders/get_order_metrics.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders/{orderId}/metrics
          method: get

  # -------- MS WORKFLOW (RESTAURANTE) --------
  updateOrderStep:
    handler: ms_workflow/update_order_step.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders/{orderId}/step
          method: post

  getDashboardSummary:
    handler: ms_workflow/get_dashboard_summary.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/dashboard
          method: get

  # Exportador diario a S3 (reportes)
  # exportDailyReport:
  #   handler: ms_workflow/export_daily_report.handler
  #   events:
  #     - schedule:
  #         rate: rate(1 day)
  #         enabled: true

  # Funciones usadas por Step Functions
  checkOrderStatus:
    handler: ms_workflow/check_order_status.handler

  calculateOrderMetrics:
    handler: ms_workflow/calculate_order_metrics.handler

  # -------- MS NOTIFICATIONS (EMAIL) --------
  sendEmailNotification:
    handler: ms_notifications/send_email_notification.handler
    events:
      - eventBridge:
          eventBus: !GetAtt OrdersEventBus.Name
          pattern:
            source:
              - pardos.orders
            detail-type:
              - order.created
              - order.updated

resources:
  Resources:
    # ---------- DynamoDB ----------
    TenantsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TENANTS_TABLE}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: product_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: product_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: order_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: order_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    OrderEventsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDER_EVENTS_TABLE}
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
          - AttributeName: ts
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
          - AttributeName: ts
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # ---------- EventBridge ----------
    OrdersEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.EVENTS_BUS_NAME}

    # Regla para iniciar Step Functions cuando se crea una orden
    OrderCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: ${sls:stage}-order-created-trigger
        Description: "Inicia el workflow de Step Functions cuando se crea una nueva orden"
        EventBusName: !Ref OrdersEventBus
        EventPattern:
          source:
            - pardos.orders
          detail-type:
            - order.created
        State: ENABLED
        Targets:
          - Arn: !GetAtt OrderWorkflowStateMachine.Arn
            RoleArn: arn:aws:iam::647796053987:role/LabRole
            Id: OrderWorkflowTarget
            InputTransformer:
              InputPathsMap:
                tenant_id: "$.detail.tenant_id"
                order_id: "$.detail.order_id"
                status: "$.detail.status"
              InputTemplate: |
                {
                  "tenant_id": <tenant_id>,
                  "order_id": <order_id>,
                  "status": <status>
                }

    # ---------- S3 para reportes ----------
    # ReportsBucket:
    # Type: AWS::S3::Bucket
    # Properties:
    #   BucketName: ${self:provider.environment.REPORTS_BUCKET}

    # ---------- Step Functions (workflow real integrado) ----------
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: ${sls:stage}-pardos-order-workflow
        StateMachineType: STANDARD
        RoleArn: arn:aws:iam::647796053987:role/LabRole
        DefinitionString:
          Fn::Sub: |
            {
              "Comment": "Workflow de gestión de pedidos Pardos Chicken con monitoreo de tiempos",
              "StartAt": "LogOrderReceived",
              "States": {
                "LogOrderReceived": {
                  "Type": "Pass",
                  "Comment": "Registrar que la orden fue recibida",
                  "Parameters": {
                    "tenant_id.$": "$.tenant_id",
                    "order_id.$": "$.order_id",
                    "status": "RECEIVED",
                    "timestamp.$": "$$.State.EnteredTime"
                  },
                  "Next": "CheckInitialStatus"
                },
                "CheckInitialStatus": {
                  "Type": "Task",
                  "Comment": "Verificar estado inicial de la orden",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CheckOrderStatusLambdaFunction}",
                    "Payload": {
                      "tenant_id.$": "$.tenant_id",
                      "order_id.$": "$.order_id"
                    }
                  },
                  "ResultPath": "$.checkResult",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "Next": "HandleError",
                      "ResultPath": "$.error"
                    }
                  ],
                  "Next": "WaitForCooking"
                },
                "WaitForCooking": {
                  "Type": "Wait",
                  "Comment": "Esperar mientras el personal cocina (workflow manual)",
                  "Seconds": 300,
                  "Next": "CheckCookingStatus"
                },
                "CheckCookingStatus": {
                  "Type": "Task",
                  "Comment": "Verificar si pasó a fase de cocina",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CheckOrderStatusLambdaFunction}",
                    "Payload": {
                      "tenant_id.$": "$.tenant_id",
                      "order_id.$": "$.order_id"
                    }
                  },
                  "ResultPath": "$.checkResult",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "Next": "IsCooking"
                },
                "IsCooking": {
                  "Type": "Choice",
                  "Comment": "Verificar si ya está en cocina o más adelante",
                  "Choices": [
                    {
                      "Variable": "$.checkResult.Payload.current_status",
                      "StringEquals": "RECEIVED",
                      "Next": "WaitForCooking"
                    },
                    {
                      "Or": [
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "COOKING"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "PACKING"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "DELIVERING"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "DELIVERED"
                        }
                      ],
                      "Next": "WaitForPacking"
                    }
                  ],
                  "Default": "WaitForCooking"
                },
                "WaitForPacking": {
                  "Type": "Wait",
                  "Comment": "Esperar mientras el personal empaca",
                  "Seconds": 180,
                  "Next": "CheckPackingStatus"
                },
                "CheckPackingStatus": {
                  "Type": "Task",
                  "Comment": "Verificar si pasó a fase de empaque",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CheckOrderStatusLambdaFunction}",
                    "Payload": {
                      "tenant_id.$": "$.tenant_id",
                      "order_id.$": "$.order_id"
                    }
                  },
                  "ResultPath": "$.checkResult",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "Next": "IsPacking"
                },
                "IsPacking": {
                  "Type": "Choice",
                  "Comment": "Verificar si ya está en empaque o más adelante",
                  "Choices": [
                    {
                      "Or": [
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "RECEIVED"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "COOKING"
                        }
                      ],
                      "Next": "WaitForPacking"
                    },
                    {
                      "Or": [
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "PACKING"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "DELIVERING"
                        },
                        {
                          "Variable": "$.checkResult.Payload.current_status",
                          "StringEquals": "DELIVERED"
                        }
                      ],
                      "Next": "WaitForDelivery"
                    }
                  ],
                  "Default": "WaitForPacking"
                },
                "WaitForDelivery": {
                  "Type": "Wait",
                  "Comment": "Esperar mientras el repartidor entrega",
                  "Seconds": 600,
                  "Next": "CheckDeliveryStatus"
                },
                "CheckDeliveryStatus": {
                  "Type": "Task",
                  "Comment": "Verificar si está siendo entregado o ya entregado",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CheckOrderStatusLambdaFunction}",
                    "Payload": {
                      "tenant_id.$": "$.tenant_id",
                      "order_id.$": "$.order_id"
                    }
                  },
                  "ResultPath": "$.checkResult",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "Next": "IsDelivered"
                },
                "IsDelivered": {
                  "Type": "Choice",
                  "Comment": "Verificar si ya fue entregado",
                  "Choices": [
                    {
                      "Variable": "$.checkResult.Payload.current_status",
                      "StringEquals": "DELIVERED",
                      "Next": "CalculateFinalMetrics"
                    }
                  ],
                  "Default": "WaitForDelivery"
                },
                "CalculateFinalMetrics": {
                  "Type": "Task",
                  "Comment": "Calcular métricas finales de tiempo de la orden",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CalculateOrderMetricsLambdaFunction}",
                    "Payload": {
                      "order_id.$": "$.order_id"
                    }
                  },
                  "ResultPath": "$.metricsResult",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "Next": "WorkflowCompleted"
                },
                "WorkflowCompleted": {
                  "Type": "Succeed",
                  "Comment": "Workflow completado exitosamente"
                },
                "HandleError": {
                  "Type": "Pass",
                  "Comment": "Manejar errores del workflow",
                  "Parameters": {
                    "error.$": "$.error",
                    "order_id.$": "$.order_id"
                  },
                  "Next": "WorkflowFailed"
                },
                "WorkflowFailed": {
                  "Type": "Fail",
                  "Comment": "Workflow falló",
                  "Error": "WorkflowExecutionError",
                  "Cause": "Error durante la ejecución del workflow de pedidos"
                }
              }
            }
plugins:
  - serverless-offline
